<div id="menu">
	<ul>
		<li>
			<%= link_to t('portaln.menu.home'), root_path, :id => check_tab?({:home => :all }) %>
			&nbsp;.&nbsp;
		</li>
		<li>
			<%= link_to t('portaln.menu.biografia'), biografia_path, :id => check_tab?({:biografia => :all }) %>
			&nbsp;.&nbsp;
		</li>
		<% if user_signed_in? %>
			<li>
				<%= link_to t('portaln.menu.escrever_noticia'), new_noticia_path, :id => check_tab?({
					:noticias => :new
				}) %>
				&nbsp;.&nbsp;
		  </li>
		<% end %>
		<li>
			<%= link_to t('portaln.menu.noticias'), materias_path %>
			&nbsp;.&nbsp;
		</li>
		<li>
			<%= link_to t('portaln.menu.albuns'), albuns_path, :id => check_tab?({
				:albuns => [:index, :show, :edit, :new]
			}) %>
			&nbsp;.&nbsp;
		</li>                     
		<li>
			<%= link_to 'Publicações', publicacoes_path %>
			&nbsp;.&nbsp;
		</li>                     
		<li>
			<%= link_to 'Dicas', dicas_path %>
			&nbsp;.&nbsp;
		</li>                     
		<li>
			<%= link_to t('portaln.menu.contato'), contatos_path, :id => check_tab?({
				:contatos => :all
			}) %>
		</li>
		<% if user_signed_in? and current_user.may_criar_usuarios? %>
			&nbsp;.&nbsp;
			<li>
				<%= link_to t('portaln.menu.usuarios'), {:controller => :registrations, :action => :index}, 
																 								 :id => check_tab?({:registrations => :all}) %>
				&nbsp;.&nbsp;
			</li>			
		<% end %>
		<% if user_signed_in? and current_user.may_configurar_sistema? %>
			<li>
				<%= link_to t('portaln.menu.configuracoes'), configuracoes_path, :id => check_tab?({
					:configuracoes => :all
				}) %>
			</li>			
		<% end %>
	</ul>
</div>