<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content = "-1" />
                                         
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "botoes" %>
	<%= stylesheet_link_tag "erros" %>

  <%= javascript_include_tag :defaults %>

  <title>Portal N</title>
</head>
<body>      
	<div id="conteiner">
		<div id="moudura_top">
			<div id="moudura_inf">
				<div id="moudura_es">
					<div id="moudura_di">
						<div id="moudura_top_es">
							<div id="moudura_top_di">
								<div id="moudura_inf_es">
									<div id="moudura_inf_di">
										<div id="conteiner_int">
											<%= render :partial => 'layouts/logo' %>
											<div id="conteudo">
												<div class="texto">
											    <%= render :partial => 'layouts/content' %>
												</div>
												
												<%= render :partial => 'layouts/footer' %>
											</div>
										</div>
									</div>	                            
								</div>	                            
							</div>	                            
						</div>	                            
					</div>	                            
				</div>	                            
			</div>	                            
		</div>	                            
	</div>	                            
</body>
</html>
