<% form_for(@album) do |f| %>
  <%= f.error_messages %>
  
	<div class="field" style="width: 90%;">
	  <p>
	    <%= f.label :titulo %><br />
	    <%= f.text_field :titulo, :style => "width: 640px;" %>
	  </p>
	           
		<p>
	    <%= f.label :descricao %><br />       
	    <%= f.text_area :descricao %>
	  </p>
	
	</div>
	<div style="clear: both;"></div>

	<%= render :partial => 'tags/tags_form' %>
	
	<div id="tag_container">
		<%= render :partial => 'tags/tags_list', :locals => {:object => @album} %>
	</div>
	                                
	<div style="clear: both;"></div>                            
	
	<br/>
	
	<div class="buttons">
	  <p>
	    <%= f.submit t("portaln.salvar") %>
	  </p>                 
	</div>
 	<div style="clear: both;"></div>                            

<% end %>
































