<div id="album" class="album">
	<%= hidden_field_tag 'album_id', @album.id %>
	<h1>
		<%= link_to "#{h @album.titulo}", album_path(@album) %>
	</h1>                 
	                                    
	<div>
		<i>
			Autor:&nbsp;
			<span class="autor"><%= @album.autor.username %></span>
		</i>
	</div>
	<%= render :partial => 'geral/data', :locals => {:object => @album} %>
	
	<% if user_signed_in? and current_user.may_editar_album? @album %>
		<%= render :partial => 'albuns/opcoes', :locals => {:album => @album} %>
	<% end %>
	                                                                       
	<span id="load">
		<br/>
		<%= image_tag 'load.gif'%>&nbsp;<%= t('portaln.upload.load') %>
	</span>

	<div id="fotos" style="display: none;">
		<% if @fotos and (not @fotos.empty?) %>
			<%= render :partial => 'albuns/galerias/gallery_view', :locals => {:fotos => @fotos} %>
		<% else %>             
			<div id="sem_imagem">
				<h2>Nenhuma imagem encontrada para este álbum!</h2>
			</div>
		<% end %>     
	</div>
	
	<% unless @album.tags_string.empty? %>
		<div class="tag_string">
			<% @album.tag_list.each do |tag| %>
				<%= link_to tag, :controller => :albuns, :tag => tag %>&nbsp;
			<% end %>
		</div>   
	<% end %>
	
</div>                                                               
  
<div style="clear: both;"></div>
<br/>
<%= link_to "#{t('portaln.voltar')}", albuns_path %>