<br/>

<%= javascript_include_tag 'views/fotos/upload' %>  
<div class="upload">
	<%= hidden_field_tag :uploadify_path, path_to_resource("flash/uploadify.swf") %>
	<%= hidden_field_tag :img_cancel_path, path_to_resource("images/icons/cancel_16.png") %>
	<%= hidden_field_tag :button_text, t('portaln.upload.escolher_fotos') %>
	<%= hidden_field_tag :controller_path, 
											 url_for(
											 	:controller => :fotos, 
												:action => :create, 
												:album_id => @album.id
											 )%>                                    
	<% session_key_name = ActionController::Base.session_options[:key] %>										
	<%= hidden_field_tag :session_key_name, session_key_name %>
	<%= hidden_field_tag :session_key_value, u(cookies[session_key_name]) %>
	<%= hidden_field_tag :load_icon_path, path_to_resource("images/load.gif") %>
	<%= hidden_field_tag :load_text, t('portaln.upload.load') %>
	<%= hidden_field_tag :recarregar_imagens_path, 
											 url_for(
											   :controller => :fotos,
											   :action => :all_by_album,
												 :album_id => @album.id
											 )%>
	
	<div style="float: left;">
		<input type="file" name="upload_files" id="upload_files" />                  
	</div>
  
	<div class="buttons">                      
	  <a id="link_upload" class="positive" style="margin-left: 5px" href="#">
	    <%= image_tag 'icons/up_32.png' %>
	    <%= t('portaln.upload.enviar_arquivos') %>
	  </a>
	  <a id="link_clear" class="negative" href="#">
	    <%= image_tag 'icons/stop_32.png' %>
	    <%= t('portaln.upload.cancelar_uploads') %>
	  </a>
	</div>

	<div id="fileQueue"></div>

	<div style="clear: both;"></div>
	      
	<div id="opcoes" style="display: <%= (@fotos and (not @fotos.empty?)) ? 'inline' : 'none' %>;">
		<br/>
		<%= render :partial => 'fotos/opcoes' %>
	</div>
      
	<div style="clear: both;"></div>
	                                          
	<div id="fotos_container">
		<form id="form_imgs">
			<%= render :partial => 'fotos/lista_edicao' %>
		</form>
	</div>                                  
	
</div>
























